<% provide :title, 'My-Device' %>

<div class="row">
  <div class="col s4 center">
    <h3 class="header">Tracked Devices</h3>
    <p>Tracking 243 devices</p>
  </div>
  <div class="col s4">
    <h3 class="header">Claimed Devices</h3>
    <p>34 devices have been claimed</p>
  </div>
  <div class="col s4">
    <h3 class="header">Average updates</h3>
    <p>About 12 updates per minute</p>
  </div>
</div>
