<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to 'My-Devices', root_path, class: "brand-logo" %>
      <span class="page-title center"><%= content_for :title %></span>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'Devices', devices_path %></li>
        <li><%= link_to 'Users', users_path %></li>
      </ul>
    </div>
  </nav>
</div>