<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'Devices', devices_path %></li>
        <li><%= link_to 'Users', users_path %></li>
      </ul>
    </div>
  </nav>
</div>